@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base
{
    @font-face{

        font-family:"Poppins";
        src:url("../fonts/Poppins/PoppinsLatin-Bold.ttf")format("truetype");
        font-weight: 900;
        font-style: normal;
    }
    @font-face{

        font-family:"Poppins";
        src:url("../fonts/Poppins/PoppinsLatin-Regular.ttf")format("truetype");
        font-weight: 500;
        font-style: normal;
    }
    @font-face{

        font-family:"Poppins";
        src:url("../fonts/Poppins/PoppinsLatin-Medium.ttf")format("truetype");
        font-weight: 400;
        font-style: normal;
    }
}
