@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base
{
    @font-face{
        font-family:"Poppins";
        src:url("../fonts/Poppins/PoppinsLatin-Regular.woff2")format("woff2");
    }
    @font-face{
        font-family:"Poppins Light";
        src:url("../fonts/Poppins/PoppinsLatin-Light.woff2")format("woff2");
    }
    @font-face{
        font-family:"Poppins Bold";
        src:url("../fonts/Poppins/PoppinsLatin-Bold.woff2")format("woff2");
    }
}